*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    background-color: #df66be;
 
}

.contenedor{
    width: 90%;
    margin: auto;
    max-width: 1200px;
   
}

header .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

header{
    padding: 20px;
    width: 40%;
    background: #db57b8;
    margin-left: 70%;
       
}



header .logotipo{
    color: #ebdb06;
    font-size: 30px;
    font-weight: normal;
}

header nav a{
    color: #052d42;
    text-decoration: none;
    margin-right: 30px;
   
}

header nav a:hover,
header nav a.activo{
    color: #e4fd05;
}


.contenedor-total{
    max-width: 1200px;
    height: 100vh;  /*ver esto*/ 
    margin: auto;
        
}

.tv{
    width: 600px;
    height: 600px;
    background: url(fondo-televisor.png);      
    background-repeat: no-repeat;
    background-position: 50%;
    object-fit: cover;
    border: 2px solid rgb(172, 231, 9);
    margin-top: 0;
    padding: 0;
   

     
}
.contenedor-solo-programas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    
}

.programa1{
    width: 393px;
    height: 299px;
    background-color: #45f8f5;
    position: relative;
    border: 3px solid #2c333d;
    border-radius: 6px;

}

.programa2{
    width: 393px;
    height: 299px;
    background-color: #fff;
    position: relative;
    border: 3px solid #dd1d03;
    border-radius: 6px;
    background: url(casaBob.png);
    background-repeat: no-repeat;
    object-fit: cover;
 

}

.programa3{
    width: 393px;
    height: 299px;
    border: 2px solid blue;
}

/****************************************************PROGRAMA1*****************/

.nube1{
    width: 70px;
    height: 30px;
    background: url(cloud1.png);
    background-size: 100% 100%;
    position: absolute;
    top: 10px;
    animation: movimiento1 9s alternate infinite ease-in;
    animation-delay: 1s;
}


@keyframes movimiento1{
   from{
       margin-left: 75%;
   }
   to{
       margin-left: 0%;
    }
}

.nube2{
    width: 80px;
    height: 30px;
    background: url(cloud2.png);
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    animation: movimiento2 9s alternate infinite ease-in;
    animation-delay: 3s;
}


@keyframes movimiento2{
    from{
        margin-left: 65%;
    }
    to{
        margin-left: 0%;
     }
 }

 .nube3{
    width: 90px;
    height: 40px;
    background: url(cloud3.png);
    background-size: 100% 100%;
    position: absolute;
    top: 80px;
    animation: movimiento3 10s alternate infinite ease-in;
    animation-delay: 3s;
}

@keyframes movimiento3{
    from{
        margin-left: 70%;
    }
    to{
        margin-left: 0%;
     }
 }

 .nube4{
    width: 90px;
    height: 50px;
    background: url(cloud4.png);
    background-size: 100% 100%;
    position: absolute;
    top: 140px;
    animation: movimiento3 7s alternate infinite ease-in;
    animation-delay: 3s;
}

@keyframes movimiento4{
    from{
        margin-left: 40%;
    }
    to{
        margin-left: 0%;
     }
 }

 .nube5{
    width: 100px;
    height: 130px;
    background: url(cloud5.png);
    background-size: 100% 100%;
    position: absolute;
    top: 110px;
    animation: movimiento5 9s alternate infinite ease-in;
    animation-delay: 3s;
}

@keyframes movimiento5{
    from{
        margin-left: 70%;
    }
    to{
        margin-left: 0%;
     }
 }

.texto{
    position: absolute;
    top: 30%;
    left: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: inline-block;
}


 .texto p{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: #fddb3a;
    text-align: center;
 }

/*************************************************************************/